<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <security:http security="none" pattern="/login.jsp" />

    <security:http auto-config="true">

        <security:csrf disabled="true" />
        <!--auto-config="true" 时 默认简写了如下 start
        <security:form-login/>
        <security:http-basic/>
        <security:logout/>
        auto-config="true" 时 默认简写了如下 end-->
        <security:form-login login-page="/login.jsp" />
        <!--给登陆页面放行<security:intercept-url pattern="/login.jsp" access="hasRole('ROLE_ANONYMOUS')"/>-->

        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
    </security:http>

    <!-- 最简单的模式
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="user" authorities="ROLE_USER"/>
                <security:user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
    -->

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <!-- 基于 Jdbc 的 UserDetailsService 实现，JdbcDaoImpl -->
            <security:jdbc-user-service data-source-ref="dataSource"/>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>